@import url("http://fonts.googleapis.com/css?family=Cardo"); 
@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/* put hyphen in name to distinguish from regular font
*/
@font-face {
    font-family: 'GFS-Porson';
/*    src: url('http://heml.mta.ca/rigaudon/static/Fonts/Porson/GFSPorson.eot');
    src: url('http://heml.mta.ca/rigaudon/static/Fonts/Porson/GFSPorson.eot?#iefix') format('embedded-opentype');
*/ 
   src: url('../font/GFSPorson.woff') format('woff'),
         url('../font/GFSPorson.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
    unicode-range:
         U+590-5ff, U+300-345, U+370-3ff, U+1e00-1fff;
}
/* colour definitions */
:root {
    --imperceptable-blue: #E5FFFF;
    --perceptable-blue:  #B3FFFF;
    --true-green: #C9E8C9;
    --sub-green: #BFCE67;
    --noacc-green: #A6D9A6;
    --split: #D4C26A;
    --primary-text: goldenrod;
    --app-crit: chocolate;
    --page-number: #bdb76b;
    --translation: #4682B4;
    --title: #FF6347;
    
}

/*
span.ocr_word {
    margin:0 0.1em;
     background:#faf; 
}
*/

#footer {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', 'Lato', sans-serif!important;
}
body {
  font-family: 'GFS-Porson', 'Quicksand', 'Lato', sans-serif!important;
/*
  font-family:  'GFS-Porson', 'New Athena Unicode', 'GFS Philostratos', serif;
*/
  font-size: 14px;
  background: #eee;
  line-height: 130%;
}



.resize {
  width:200px;
  height:40px;
}

span.ocr_word, span.index_word:first-of-type {
    margin-left:0;
}

span.ocr_word, span.index_word:last-of-type {
    margin-right:0;
}

span.index_word {

  border-style: dashed;
    border-width: 2px;
  border-color: red;
  margin-left: 5px;
  min-width: 25px;/* This doesn't seem to work for some reason */
  color: #C0C0C0;
}
span.ocr_line {
    display: block;
}

span.ocr_line + br {
    display: none;
}
p{
    margin: 0;
    padding: 0;
}

.inserted_line {
  border-style: dashed;
    border-width: 2px;
  border-color: green;
  display: inline-block;
  min-width:200px;
}

.runsNotAvailable .notAvailable{
    color: #CCCCCC;
}

p span:first-child {
	text-indent: 2em;
}

p:first-child span:first-child {
       text-indent: 0em;
}
span[data-spellcheck-mode] {
   min-width: 10px;
   padding-left: 2px;
   padding-right: 2px;
   margin-left: 2px;
   margin-right: 2px;
}
span[data-spellcheck-mode="True"],
span[data-spellcheck-mode="TrueLower"]
 { 
    background-color: var(--true-green);
}
span[data-spellcheck-mode^="Sub"] {
    background-color: var(--sub-green);
}
span[data-spellcheck-mode="NoAcc"] {
    background-color: var(--noacc-green);
}
span[data-spellcheck-mode^="Dedup"] {
    background-color: #EBF7A5;
}
span[data-spellcheck-mode^="Split"] {
    background-color: var(--split);
}
span[data-spellcheck-mode^="Numerical"] {
    background-color: #55AA55;
}
span[data-spellcheck-mode="PunctStrip"] {
    background-color: #2D882D;
}
span[data-spellcheck-mode="None"] {
    background-color: #FFCCCC;
}
span[data-spellcheck-mode="Manual"] {
    background-color: var(--imperceptable-blue);
}
span[data-manually-confirmed="true"] {
    background-color: var(--imperceptable-blue);
}

#download {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

span.ocr_line[data-app-crit=true] { border-right-color: #341BFF; border-left-color: #341BFF;
border-left-style: solid; border-right-style: solid;
border-right-width: 2px; border-left-width: 2px;
padding-right: 6px; padding-left: 6px;}

/*.ocr_word:not([data-spellcheck-mode]) {
    background-color: #FFAAAA;
}
*/
/* other colours:
#FFF0AA
#D4C26A
*/

.complete_text 
{ 
  border-color: var(--perceptable-blue); 
  border-width:3px; 
  border-style:solid; 
}



#translation_button:hover {
    background-color: var(--translation);
}
.translation_circle {
    fill: var(--translation);
    color: var(--translation);
}

.translation_rectangle {
    fill: var(--translation);
    color: var(--translation);
    stroke: var(--translation);
}


#primary_text_button:hover {
    background-color: var(--primary-text);
}
.primary_text_circle {
    fill: var(--primary-text);
    color: var(--primary-text);
}

.primary_text_rectangle {
    fill: var(--primary-text);
    color: var(--primary-text);
    stroke: var(--primary-text);
}

.selected_rectangle {
    fill-opacity: 20%;
}

#app_crit_button:hover {
    background-color: var(--app-crit);
}

.app_crit_circle {
    fill: var(--app-crit);
    color: var(--app-crit);
}

.app_crit_rectangle {
    fill: var(--app-crit);
    color: var(--app-crit);
    stroke: var(--app-crit);
}
#page_number_button:hover {
    background-color: var(--page-number);
}

.page_number_circle {
    fill: var(--page-number);
    color: var(--page-number);
}

.page_number_rectangle {
    fill: var(--page-number);
    color: var(--page-number);
    stroke: var(--page-number);
}

#title_button:hover {
    background-color: var(--title);
}

.title_circle {
    fill: var(--title);
    color: var(--title);
}

.title_rectangle {
    fill: var(--title);
    color: var(--title);
    stroke: var(--title);
}

/* Style the form - display items horizontally */
#edits-since-form {
  display: inline;
}

.fhs {
  display: inline;
}
.ctsurn-span {
    width: 5%;
}


/* code to make blinking elements */
@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: blue    
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: blue    
    }    
}    
span.ocr_word{    
    border:2px solid blue;
    border-color: transparent  
}


span.blinker{    
    border:2px solid blue;
    border-color: transparent;  
    -webkit-animation: borderBlink 0.5s ease-in-out 3;    
    animation: borderBlink 0.5s ease-in-out 3;    
}

span.zoning_hilight{    
    border:2px solid blue;
}
code {
    color: black;
}

/* For Markdown */
section p {
 /* line-height: 32px;    within paragraph */
  margin-bottom: 15px; /* between paragraphs */
  margin-left: 10px;
  }
/* For KWIC search return */

.search_results .ocr_word {
    background-color: inherit;
}
.hi .ocr_word {
    font-weight: bold;  
    background-color: white;
}
/*****
div[class="row"] {
    outline: 1px dotted rgba(0, 0, 0, 0.25);
}

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    outline: 1px dotted rgba(0, 0, 0, 0.5);
}
****/