<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/lace_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/hocr.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"/>
        <script type="text/javascript" src="resources/javascript/jquery-3.4.1.min.js"/>
        <script type="text/javascript" src="resources/javascript/loadsource.js"/>
        <script type="text/javascript" src="resources/javascript/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="resources/javascript/lace_config.js"/>
        <script type="text/javascript" src="resources/javascript/edit_text.js"/>
        <script type="text/javascript" src="resources/javascript/run_dropdown_menu.js"/>
        <script type="text/javascript" src="resources/javascript/draw_svg_boxes.js"/>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/3.0.3/bootstrap3-typeahead.min.js"/>
        <!--script type="text/javascript" src="resources/javascript/typeahead-example.js"/-->
        <script type="text/javascript" src="resources/javascript/cts-greek-texts.js"/>
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="./">App Title</a>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="latest-edits.html">Latest Edits</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="search.html">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="editing.html">Editing Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <!--li class="dropdown" id="about">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Documents</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="editing.html">Editing Guide</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                        </ul>
                    </li-->
                    <!--li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Editing</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Add a line</a>
                            </li>
                            <li>
                                <a href="#">Split Word</a>
                            </li>
                            <div class="dropdown-divider"/>
                            <li>
                                <a href="#">Add CTS Milestone</a>
                            </li>
                        </ul>
                    </li-->
                    <!--li>
                          <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </li-->
                </ul>
            </div>
        </nav>
        <div id="content" class="NOTcontainer"/>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h4 class="modal-title">Notice</h4>
        </div>
        <div class="modal-body">
          <p id="error_message">Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
        <footer>
            <div id="footer" class="container">
            <div class="text-center">
                <p>
                        <span data-template="app:app-version-number">Content</span>. Copyright 2013-2020 <a href="mailto:brobertson@mta.ca">Bruce Robertson,</a> Dept. of Classics, Mount Allison University. Developed through the support of the <a href="https://nbif.ca/en">NBIF</a>.<div>
                   </div> </p>
            <!--a class="poweredby" href="http://exist-db.org">
                <img src="$shared/resources/images/powered-by.svg" alt="Powered by eXist-db"/>
            </a-->
            </div>
            </div>
        </footer>
    </body>
</html>